/* Container title */
.laporan-title {
    display: flex;
    width: 72%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 22%;
    padding: 16px 18px;
    border-radius: 10px;
    background: linear-gradient(90deg, #e3eeff 0%, #98bed463 100%);
}

/* Title */
.laporan-title h2 {
    margin: 0;
    font-size: 1.6rem;
    color: #4d5868;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Card */
.card-laporan {
    background: #ffffff50;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.07);
    width: 78%;
    margin: 0 20.5%;
}

/* Table */
.table-laporan {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
}

/* Header */
.table-laporan thead tr {
    background: #d9e7fd; 
    color: #003366;
    font-weight: 600;
}

.table-laporan th {
    padding: 14px;
    border: none;
    text-align: center;
}

/* Body Rows */
.table-laporan tbody tr {
    background: #f5faff; 
    border-bottom: 1px solid transparent;
    transition: 0.25s ease;
}

.table-laporan tbody tr:hover {
    background: #e1ecff;
}

.table-laporan td {
    padding: 14px;
    border: none;
    text-align: center;
}

/* Summary Cards */
.info-card {
  width: 70%;
  display: grid;
  gap: 1.2rem;
  margin-left: 24%;
  padding: 1.2rem 0;
  border-radius: 15px;
  justify-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.column-card {
  color: #5B6676;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.column-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

.column-card h4 {
  font-size: 1rem;
  margin: 0 0 0.3rem 0;
  
}

.column-card .title-section {
  font-size: 1rem;
  letter-spacing: 0.04em;
}

/* Badge style (status) */
.badge {
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  font-size: 0.85rem;
  font-weight: 500;
}

.bg-primary {
  background: #f0dba6;
  color: #5B6676;
}

.bg-success {
  background: #b5f5dd;
  color: #5B6676;
}

.bg-warning {
  background: #f7b7ae;
  color: #5B6676;
}

.text-danger {
  color: #dc3545;
  font-weight: 500;
}

/* Footer text */
.card-footer {
  margin-top: 1rem;
  text-align: right;
  color: #555;
  font-size: 0.9rem;
}

